@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs {

    @include m.tablet {
        display: flex;
    }

    button {
        background-color: v.$dorado;
        border: none;
        color: v.$blanco;
        padding: 1rem;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        transition: bacground-color 300ms ease;

        &:hover {
            cursor: pointer;
            background-color: darken(v.$dorado, 5%);
        }
        &.actual {
            background-color: v.$blanco;
            color: v.$dorado;
        }
    }
}